# LLM
google-genai==1.36.0
google-api-core==2.25.1
openai==1.107.1
tiktoken==0.11.0

# ML
sentence_transformers==2.7.0
soxr==1.0.0
torch
shap==0.49.1
hyperopt==0.2.7

# Text preprocessing
spacy==3.7.5

# Visualization
seaborn==0.13.2

# General
python-dotenv==1.1.1