# LLM
google-genai==1.36.0
google-api-core==2.25.1
openai==1.107.1
tiktoken==0.11.0

# ML
numpy>=1.22,<1.25
pandas>=2.3.0
torch>=2.5.0
torchvision>=0.20.0
torchaudio>=2.5.0
--extra-index-url https://download.pytorch.org/whl/cu121
transformers>=5.0.0
sentence-transformers>=5.0.0
soxr==1.0.0
hyperopt==0.2.7

# Text preprocessing
spacy==3.7.5

# Visualization
seaborn==0.13.2

# General
python-dotenv==1.1.1